{% extends "layout.html" %}
{% block content %}
<!-- <h1>Artists</h1>
{% for artist in artists %}
<h2>{{artist}}</h2>
{% endfor %} -->
{% if artists %}

<section>
    <div class="mx-auto flex flex-col items-center justify-center px-2 md:px-6 pt-12 lg:pt-16">
        <div class="flex">
            <div class="justify-center items-center mx-auto pb-16 pt-4 xl:pt-0">
                <a href="{{url_for('add')}}"
                    class="bg-black hover:bg-gray-900 text-white font-bold py-4 px-8 border-b-4 border-gray-900 hover:border-gray-800 justify-center rounded">Add
                    new artists</a>
            </div>
        </div>

        <div class="p-4 white bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 mx-auto w-full md:w-3/4 xl:w-3/5 text-black">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-2xl font-bold leading-none">Your artists</h3>
                <h3 class="text-base font-semibold">Latest music</h3>
            </div>
            <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    {% for artist in artists %}
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-6 h-6 md:w-16 md:h-16 rounded-full"
                                    src="{{ artist['artist']['img_url'] }}" alt="Artist image">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p class="text-xl md:text-2xl font-semibold truncate">
                                    {{ artist['artist']['artist_name'] }}
                                </p>
                            </div>
                            <div class="flex-col items-center text-xs md:text-base font-semibold">
                                <div class="items-end"><a href="https://open.spotify.com/album/{{artist['newest']['id']}}" target="_blank">{{ artist['newest']['name'] }}</a></div>
                                <div class="float-right">{{ artist['newest']['release_date'] }}</div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="flex">
    <div class="justify-center items-center mx-auto pt-48 md:pt-72 first-letter">
        <a href="{{url_for('add')}}"
            class="bg-black hover:bg-gray-900 text-white font-bold py-4 px-8 border-b-4 border-gray-900 hover:border-gray-800 justify-center rounded">Add
            new artists</a>
    </div>
    {% endif %}
    {% endblock %}