<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    {% if formpage == False %}
        {% if current_user.is_authenticated %}
            <div>
                <a href="{{url_for('logout')}}">Log out</a>
                {{ current_user.email }}
            </div>
        {% else %}
            <div>
                <a href="{{url_for('login')}}">Log in</a>
                <a href="{{url_for('signup')}}">Sign up</a>
            </div>
        {% endif %}
    {% endif %}

    {% block content %}
    missing content include
    {% endblock %}

</body>
</html>